/*
!.bin
!.gitignore
!.zshrc
!.fimrc
!.wallpaper
!.config/
.config/*
!.config/alacritty/
!.config/sway/
!.config/waybar/
!.config/swaylock/
!.config/zathura/
!.config/ranger/
!.config/mako/
!.config/bashtop/
.config/bashtop/*
!.config/bashtop/bashtop.cfg
!README.md
