/*
!.bin
!.gitignore
!.zshrc
!.wallpaper
!.config/
.config/*
!.config/sway/
!.config/waybar/
!.config/swaylock/
!.config/zathura/
!.config/ranger/
!.config/mako/
!.config/btop/
!.config/kitty/
!.config/calcurse/
!README.md
