/*
!.gitignore
!.zshrc
!/.wallpapers
/.config/*
!/.config
!/.config/alacritty
!/.config/sway
!/.config/waybar
!/.config/wofi
!/.config/zathura
!/.config/ranger
!/.config/mako
!/.config/nvim
!README.md
