* {
  font-size: 13px;
  border: none;
  border-radius: 0;
  font-family: my-queue;
  padding: 0;
  margin: 0;
}

#waybar {
  color: #d4be98;
  background: rgba(50, 48, 47, 0.9);
}

#workspaces button {
  color: #d4be98;
  background: #32302f;
  border-left: 2px solid #46413e;
}

#workspaces button:first-child {
  background: #32302f;
  border-left: 0px;
}

#workspaces button.focused {
  background: #3c3836;
  box-shadow: inset 0 -3px #e78a4e;
}

#workspaces button.urgent {
  color: #32302f;
  background: #ea6962;
}

#workspaces button:hover,
#workspaces button.focused:hover,
#workspaces button.visible:hover {
  color: #32302f;
  background: #d8a657;
}

/*
 * Arrows
 */
#custom-arrow-light-on-bg-left {
  font-size: 17px;
  color: #3c3836;
  background: transparent;
}

#custom-arrow-light-on-bg-right {
  font-size: 17px;
  color: #3c3836;
  background: transparent;
}

#custom-arrow-light-on-dark-left,
#custom-arrow-light-on-dark-right {
  font-size: 17px;
  color: #3c3836;
  background: #32302f;
}

#custom-arrow-dark-on-light-left,
#custom-arrow-dark-on-light-right {
  font-size: 17px;
  color: #32302f;
  background: #3c3836;
}

/*
 * General background
 */
#network,
#memory,
#backlight,
#language,
#tray,
#custom-weather {
  background: #32302f;
  padding: 0 3 0 3;
}

#cpu,
#pulseaudio,
#temperature,
#battery,
#custom-notification,
#custom-crypto,
#custom-updates {
  background: #3c3836;
  padding: 0 3 0 3;
}

/*
 * Warning plugins state
 */
#memory.warning,
#cpu.warning,
#battery.warning {
  color: #d8a657;
}

/*
 * Critical plugins state
 */
#cpu.critical,
#temperature.critical,
#memory.critical,
#battery.critical,
#network.disconnected {
  color: #ea6962;
}

#mode {
  color: #32302f;
  background: #ea6962;
}

#battery.charging {
  color: #a9b665;
}

#battery.plugged {
  color: #7daea3;
}

#pulseaudio.bluetooth {
  color: #7daea3;
}

tooltip {
  background: #32302f;
  border: 1px solid #252423;
}
