* {
    border: none;
    border-radius: 0;
    font-family: my-queue;
    font-size: 13px;
    padding: 0 0;
}

#waybar {
    background-color: rgba(0, 0, 0, 1);
}

#workspaces button {
    background-color: #282828;
    color: #fbf1c7;
    padding: 0 3;
}

#workspaces button:hover {
    background-color: #fabd2f;
    color: #282828;
}

#workspaces button.focused {
    background-color: #3c3836;
    box-shadow: inset 0 -3px #d65d0e;
}

#workspaces button.focused:hover {
    background-color: #3c3836;
    color: #fbf1c7;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#workspaces button.visible {
    background-color: #3c3836;
}

#workspaces button.visible:hover {
    background-color: #fabd2f;
    color: #282828;
}

#mode {
    background-color: rgba(99, 99, 90, 0);
    color: #fbf1c7;
}

/*
 * General background config
 */
#cpu,
#pulseaudio,
#temperature,
#battery,
#tray {
    color: #fbf1c7;
    padding: 0 7px;
    background: #282828;
}

#network,
#memory,
#backlight,
#language,
#custom-crypto {
    background-color: #3c3836;
}

/*
 * Arrows config
 */
#custom-arrow-dark-on-bg-left {
    font-size: 20px;
    color: #282828;
    background: #1d2021;
}

#custom-arrow-light-on-dark-left {
    font-size: 20px;
    color: #3c3836;
    background: #282828;
}

#custom-arrow-dark-on-light-left,
#custom-arrow-dark-on-light-right {
    font-size: 20px;
    color: #282828;
    background: #3c3836;
}

#custom-arrow-light-on-bg-right {
    font-size: 20px;
    color: #3c3836;
    background: #1d2021;
}

/*
 * Battery config
 */
#battery.warning {
    color: #fabd2f;
}

#battery.critical {
    color: #fb4934;
}

#battery.charging {
    color: #b8bb26;
}

#battery.plugged {
    color: #b8bb26;
}

/*
 * Network config
 */
#network.disconnected {
    color: #fb4934;
}

/*
 * Audio config
 */
#pulseaudio.bluetooth {
    color: #458588;
}

#pulseaudio.muted {
    color: #fb4934;
}

/*
 * CPU config
 */
#cpu.warning {
    color: #fabd2f;
}

#cpu.critical {
    color: #fb4934;
}

/*
 * Temperature config
 */
#temperature.critical {
    color: #fb4934;
}

/*
 * Memory config
 */
#memory.warning {
    color: #fabd2f;
}

#memory.critical {
    color: #fb4934;
}
