@define-color control-center-bg rgba(50, 48, 47, 0.8);
@define-color checked rgba(231, 138, 78, 1);

@define-color notification-bg rgba(60, 56, 54, 1);
@define-color notification-bg-darker rgb(50, 48, 47);
@define-color notification-border-color rgba(37, 36, 35, 0.15);
@define-color notification-close-bg rgba(37, 36, 35, 0.15);
@define-color notification-close-bg-hover rgba(226, 204, 169, 0.15);
@define-color notification-box-hover rgba(80, 73, 69, 1);

@define-color text-color rgba(221, 199, 161, 1);
@define-color text-color-disabled rgba(212, 190, 152, 1);

.notification-row {
  background: transparent;
  outline: none;
}

.notification-row:hover {
  background: @notification-box-hover;
}

.notification {
  background: transparent;
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow:
    0 0 0 1px rgba(37, 36, 35, 0.3),
    0 1px 3px 1px rgba(37, 36, 35, 0.7),
    0 2px 6px 2px rgba(37, 36, 35, 0.3);
  padding: 0;
}

.notification-content {
  background: @notification-bg;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: @notification-close-bg;
  color: @text-color;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @notification-bg;
  border: 1px solid @notification-border-color;
  color: @text-color;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @notification-box-hover;
}

.notification-default-action {
  border-radius: 12px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @notification-border-color;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @notification-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @notification-border-color;
  border-radius: 12px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @notification-bg;
  border: 1px solid @notification-border-color;
  border-radius: 12px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @notification-box-hover;
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @control-center-bg;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0.25);
}

/*** Wigets ***/

/* Title wiget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: @notification-bg;
  border: 1px solid @notification-border-color;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: @notification-box-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @notification-box-hover;
  border: 1px solid @notification-border-color;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @checked;
}

.widget-dnd > switch slider {
  background: @notification-bg-darker;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: @notification-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @notification-bg;
  border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @notificationox-hover;
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color: @notification-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-volume > box > button {
  background: transparent;
  border: none;
}

/* Backlight widget */
.widget-backlight {
  background-color: @notification-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: @notification-bg;
  border: 1px solid @notification-border-color;
  box-shadow: none;
  border-radius: 12px;
}

.widget-inhibitors > button:hover {
  background: @notification-box-hover;
}
