---
name: "markdownlint"
# yamllint disable-line rule:truthy
on:
  - pull_request
  - push
jobs:
  lint:
    name: Run markdownlint-cli
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run markdownlint
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
